{% extends 'layouts/base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="h1 my-4">{% translate "Labels" %}</h1>
  <a href="{% url 'labels:create' %}">{% translate "Create a label" %}</a>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{% translate "Name" %}</th>
          <th scope="col">{% translate "Creation date" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for label in label_list %}
        <tr>
          <th scope="row">{{ label.id }}</th>
          <td>{{ label.name }}</td>
          <td>{{ label.created_at }}</td>
          <td>
            <a href="{% url 'labels:update' label.id  %}">{% translate "Change" %}</a>
            <br>
            <a class="text-danger" href="{% url 'labels:delete' label.id  %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
