{% extends 'layouts/base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="h1 my-4">{% translate "Statuses" %}</h1>
  <a href="{% url 'statuses:create' %}">{% translate "Create a status" %}</a>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{% translate "Name" %}</th>
          <th scope="col">{% translate "Creation date" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for status in status_list %}
        <tr>
          <th scope="row">{{ status.id }}</th>
          <td>{{ status.name }}</td>
          <td>{{ status.created_at }}</td>
          <td>
            <a href="{% url 'statuses:update' status.id  %}">{% translate "Change" %}</a>
            <br>
            <a href="{% url 'statuses:delete' status.id  %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
