{% extends 'layouts/base.html' %}
{% load i18n %}

{% block header%}
  <h1>{% translate "Deleting a user" %}</h1>
{% endblock%}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <p>
      {% translate "Are you sure you want to delete" %}
      {% if user.first_name or user.last_name %}
      {{ user.get_full_name }}?
      {% else %}
      {{ user.username }}?
      {% endif %}
    </p>
    <button class="btn btn-danger">{% translate "Yes, delete" %}</button>
  </form>
{% endblock %}
