{% extends 'layouts/base.html' %}
{% load i18n %}

{% block content %}
  <h1 class="h1 my-4">{% translate "Users" %}</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{% translate "Username" %}</th>
          <th scope="col">{% translate "Full name" %}</th>
          <th scope="col">{% translate "Creation date" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for user in user_list %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.get_full_name }}</td>
          <td>{{ user.date_joined }}</td>
          <td>
            <a href="{% url 'users:update' user.id  %}">{% translate "Change" %}</a>
            <br>
            <a class="text-danger" href="{% url 'users:delete' user.id  %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
