{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% translate "Task Manager" as title %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    {% bootstrap_javascript jquery=True %}
    {% bootstrap_css %}
  </head>
  <body>
    
    <header class="navbar navbar-light navbar-expand-lg sticky-top bg-white border-bottom align-items-center py-lg-3 mb-4 shadow-sm">
      {% url 'index' as index_url %}
      {% if request.path == index_url %}
        <p class="navbar-brand active mb-0 p-2">{{ title }}</p>
      {% else %}
        <a class="navbar-brand p-2" href="{{ index_url }}">{{ title }}</a>
      {% endif %}
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar-responsive" aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-responsive">
        <nav class="navbar-nav algin-items-start mr-auto">
          {% url 'users:index' as users_url %}
          {% if request.path == users_url %}
            <p class="nav-link active mb-0 p-2">{% translate "Users" %}</p>
          {% else %}
            <a class="nav-link p-2" href="{{ users_url }}">{% translate "Users" %}</a>
          {% endif %}
          {% if user.is_authenticated %}
            {% url 'statuses:index' as statuses_url %}
            {% if request.path == statuses_url %}
              <p class="nav-link active mb-0 p-2">{% translate "Statuses" %}</p>
            {% else %}
              <a class="nav-link p-2" href="{{ statuses_url }}">{% translate "Statuses" %}</a>
            {% endif %}
            {% url 'labels:index' as labels_url %}
            {% if request.path == labels_url %}
              <p class="nav-link active mb-0 p-2">{% translate "Labels" %}</p>
            {% else %}
              <a class="nav-link p-2" href="{{ labels_url }}">{% translate "Labels" %}</a>
            {% endif %}
            {% url 'tasks:index' as tasks_url %}
            {% if request.path == tasks_url %}
              <p class="nav-link active mb-0 p-2">{% translate "Tasks" %}</p>
            {% else %}
              <a class="nav-link p-2" href="{{ tasks_url }}">{% translate "Tasks" %}</a>
            {% endif %}
          {% endif %}
        </nav>
        <nav class="navbar-nav algin-items-start">
          {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="btn btn-link">{% translate "Logout" %}</button>
            </form>
          {% else %}
            {% url 'login' as login_url %}
            {% if request.path == login_url %}
              <p class="nav-link active mb-0 p-2">{% translate "Login" %}</p>
            {% else %}
              <a class="nav-link text-primary p-2" href="{{ login_url }}">{% translate "Login" %}</a>
            {% endif %}
            {% url 'users:create' as create_url %}
            {% if request.path == create_url %}
              <p class="nav-link active mb-0 p-2">{% translate "Registration" %}</p>
            {% else %}
              <a class="nav-link text-primary p-2" href="{{ create_url }}">{% translate "Registration" %}</a>
            {% endif %}
          {% endif %}
        </nav>
      </div>
      </header>
    
    <main class="container">
      {% bootstrap_messages %}

      {% block content %}
      {% endblock %}
    </main>

    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; {% now "Y" %}</small>
        </div>
      </div>
    </footer>

  </body>
</html>
